.App {
  height: 50vh;
  background-color: #2c2e31;
}

.header {
  text-align: center;
}

.header h1, .header p{
  color: #fff;

}

.header h1 {
  display: inline-block;
}

.header__btn {
  background: #fff;
  padding: 10px;
  border: none;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
}